
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
body{
    font-family: 'Dancing Script', cursive;
    margin: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
margin: auto;
border: 20rem;
}
main{
    margin: auto;
    width: 75%;
    justify-content: center;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px
    text-align: center;

}
img{
    max-width: 450px;
    max-height: 450px;
    border-top: 20px solid;
    border-bottom: 20px groove;
    border-radius: 50%;
    display: block;
    margin: auto;
}
h2{
    text-align: center;
}
ul{
    font-size: large;
    text-align: left;
    text-align: justify;
    margin: auto;
    padding: 30px;
    line-height: 2em;

}

a{
    color: aqua;
    text-decoration: wavy;
}
a:hover{
    color: blue;
    text-decoration: underline green;
}